/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.container {
  width: 1440;
  text-align: center;
}

input {
  padding: 0 10px;
  font-size: 1rem;
  height: 30px;
}

button {
  padding: 7px;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.gallery li {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: calc((100% - 5 * 10px) / 5);
  box-sizing: border-box;
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.image-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  text-align: center;
}

.image-info p {
  margin: 0;
  flex-grow: 1;
}

.loader {
  width: 200px;
  height: 40px;
  background-color: #0004;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  display: none;
  margin: 0 auto;
  z-index: 1000;
}
.loader:after {
  border-radius: 50px;
  content: '';
  position: absolute;
  background-color: #fff;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 360px;
  animation: slide 2s linear infinite;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
  0% {
    right: 150px;
    left: 2px;
  }
  5% {
    left: 2px;
  }
  50% {
    right: 2px;
    left: 150px;
  }
  55% {
    right: 2px;
  }
  100% {
    right: 150px;
    left: 2px;
  }
}
